.DS_Store
.idea
.vscode
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.tcl
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

# Visual Studio debris
**/.vs

# ULX3S specific build and other files
/ulx3s/error.log
/ulx3s/putty.log
/ulx3s/build_output.log
/ulx3s/build_output.log.old

/ulx3s/obj_dir
/ulx3s/project.json
/ulx3s/ulx3s_out.config
/ulx3s/ulx3s.bit
/README.zip
/ulx3s/Makefile.12F
/ulx3s/Makefile.85f

# any backup files
**/*.bak
/*.zip

# gsd zip artifact files may be unzipped here, not included in repo
/gds

**/.visualgdb/
**/build/**
/ulx3s/ESP32/sdkconfig
/**/CMakeLists.txt.old
*.user
/ulx3s/ESP32/sdkconfig.old

/test/*.vvp

/temp

/my_gh_refresh.sh

/test-hw/trng_raw.bin
/test-hw/trng_bxx_115200.bin
/test-hw/trng_conditioned.bin
/test-hw/trng_conditioned_2MiB.bin
/test-hw/trng_conditioned_2MiB.*.bin
/test-hw/trng_raw_mixed_2MiB.bin
