.DS_Store
.idea
.vscode
*.vcd
*.fst
*.fst.hier
runs
tt_submission
src/user_config.tcl
src/user_config.json
src/config_merged.json
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v

# Visual Studio debris
**/.vs

# ULX3S specific build and other files
/ulx3s/obj_dir
/ulx3s/error.log
/ulx3s/project.json
/ulx3s/ulx3s_out.config
/ulx3s/ulx3s.bit
/README.zip
/ulx3s/Makefile.12F
/ulx3s/Makefile.85f

# Junk files from development
/src/uart_trng_ascii_core - Copy.v.old
/src/uart_trng_ascii_core - Copy.v.old2
/src/uart_trng_ascii_core - Copy.v.old3
/src/uart_trng_ascii_core - Copy.v.bak

**/*.bak
/ulx3s/putty.log
/ulx3s/build_output.log
/ulx3s/build_output.log.old
